@model SimCharacterCreator.Models.Sim

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sim</h4>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <img src="~/DataAccessLayer/Images/@Html.DisplayFor(model => model.ImageFileName)" />
        </div>
        <div class="col-sm-9">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Age)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Age)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Trait1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Trait1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Trait2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Trait2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Trait3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Trait3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Aspiration)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Aspiration)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImageFileName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImageFileName)
                </dd>

            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
